/* Style simple pour les blocs d'indication */
.admonition.indication {
    margin-top: 35px;
    background-color: #e6f9f3;
    border: none;
    border-radius: 4px;
}

.admonition.indication .admonition-title {
    background-color: #16b78f;
    color: white;
}

.admonition.indication .admonition-title:before {
    content: "\f05a";
    font-family: "FontAwesome";
    margin-right: 8px;
}